@font-face {
  font-family: "Amiko-Regular";
  src: url("./Amiko-Regular.ttf");
  font-family: "Amiko-Bold";
  src: url("./Amiko-Bold.ttf");
  font-family: "Amiko-SemiBold";
  src: url("./Amiko-SemiBold.ttf");
}