@font-face {
  font-family: "Amiko-Regular";
  src: url("./Amiko-Regular.ttf");
}
@font-face {
  font-family: "Amiko-Regular";
  src: url("./Amiko-Regular.ttf");
}
@font-face {
  font-family: "Amiko-Regular";
  src: url("./Amiko-Regular.ttf");
}